@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>

        <img width="600" src="~/Images/mindtree2.png" />
    </h1>
    <p class="lead">You have successfully hosted your application to Azure App service</p>
    <p><a href="https://azure.microsoft.com/en-in/services/app-service/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    
</div>

